{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_courseformat/local/content/cm/cmname

    Convenience mustache to displays a course module inplcae editable from the format renderer.

    Format plugins are free to implement an alternative inplace editable for activities.

    Example context (json):
    {
        "url": "#",
        "icon": "../../../pix/help.svg",
        "iconclass": "",
        "pluginname": "File",
        "textclasses": "",
        "purpose": "content",
        "modname": "resource",
        "activityname": {
            "displayvalue" : "<a href=\"#\">Moodle</a>",
            "value" : "Moodle",
            "itemid" : "1",
            "component" : "core_unknown",
            "itemtype" : "unknown",
            "edithint" : "Edit this",
            "editlabel" : "New name for this",
            "type" : "text",
            "options" : "",
            "linkeverything": 0
        }
    }
}}
{{#url}}
    <div class="activity-instance d-flex flex-column">
        <div class="activitytitle media {{textclasses}} modtype_{{modname}} position-relative align-self-start">
            <div class="activityiconcontainer {{purpose}} courseicon align-self-start mr-3">
                <img src="{{{icon}}}" class="activityicon {{iconclass}}" alt="{{{modname}}} icon">
            </div>
            <div class="media-body align-self-center">
                {{#pluginname}}
                <div class="text-uppercase small">
                    {{{pluginname}}}
                </div>
                {{/pluginname}}
                <div class="activityname">
                    {{#activityname}}
                        {{$ core/inplace_editable }}
                            {{> core/inplace_editable }}
                        {{/ core/inplace_editable }}

                        {{! place here label if dates in course page (saves space)  // ecastro ULPGC}}
                        {{#activityinfo}}
                            {{#hasdates}}
                            {{#afterlink}}
                                <div class="afterlink align-items-right pull-right mr-3">
                                    {{{afterlink}}}
                                </div>
                            {{/afterlink}}

                            {{/hasdates}}
                        {{/activityinfo}}


                    {{/activityname}}
                </div>

            </div>
        </div>
    </div>
{{/url}}
