//Import additional ULPGC scss moove files. //ecastro ULPGC
@import "ulpgc/modchooser";

.badge .badge-pill .badge-warning {
	background-color: #000066;
}

/*
.badge-warning {
	background-color: #000066;
}
*/

.logo_ulpgc {
	background-image: $logo_ulpgc;
}

    .ulpgcds-header__top__logo {
      float: left;
      background: transparent url("../images/logo_ulpgcds.svg") no-repeat 0 center;
      background-size: 236px;
      width: 236px;
      height: 40px;
      margin: 0;
      display: block;
      /* @media (max-device-width: 1366px) and (orientation : "landscape"){
          @content;
      }*/ }


.ulpgcds-btn {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: "Rubik", sans-serif;
  font-size: 1.0rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2rem;
  padding: 12px 24px;
  margin: 4px auto 16px 0; // 16px auto 16px 0; // ecastro ULPGC
  border: solid 0;
  border-radius: 4px;
  min-width: 120px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.ulpgcds-btn--primary {
  background: #0066a1;
  color: #fff;
}
.ulpgcds-btn--small {
  padding: 8px 18px;
}
.ulpgcds-btn__icon {
  position: relative;
  top: 0rem;
  height: 18px;
  width: 18px;
  display: inline-block;
}
.ulpgcds-icon-user::before, .icon-user::before {
  font-family: "FontAwesome" !important;
  font-weight: 400;
  content: "\f007";
}


/*---------------------------------------
 * rules: navbar navigation
 --------------------------------------*/
body.has-secondarynavigation #page, body.has-secondarynavigation #page.drawers {
  margin-top: 86px;
}

.navbar.fixed-top,  .navbar.fixed-top .primary-navigation .navigation, .navbar.fixed-top .primary-navigation .navigation .nav-link {
    height: 48px;
}
.secondary-navigation {
    top: 48px;
    height: 36px;
}

.secondary-navigation.moove.empty {
    top: 48px;
    height: 6px;
}



.secondary-navigation > .moove-container-fluid,  .secondary-navigation .moremenu,  .moremenu .nav-link{
     height: 36px;
}

.navigation.inactivitysettings,
.navigation.incoursesettings {
  border-bottom: inherit;
  background-color: inherit;
  margin: 6px 0;
  padding: 0 0.5rem;
  /* margin-left: auto; */
}

.navigation.inactivitysettings a.dropdown-toggle,
.navigation.incoursesettings a.dropdown-toggle {
  color: #fff;
}

.navigation.inactivitysettings a.dropdown-toggle:after,
.navigation.incoursesettings a.dropdown-toggle:after {
  display: none;
}




/* Change the block column width on the Dashboard if setting 'blockcolumnwidthdashboard' is different from setting 'blockcolumnwidth'. */
@if variable-exists(blockwidthdashboard) {
    @if $blocks-width-dashboard {
  .path-my #lateral-side-blocks {
    max-width: $blocks-width-dashboard;
    float: left;
  }

  .path-my #region-main .main-content {
    //float: right;
    //max-width: calc(100% - 4px - #{$blocks-width-dashboard});
  }
}
}


/*---------------------------------------
 * rules: footer copiadas de ULPGC
 --------------------------------------*/

#page-footer {
  //margin: 0 -15px;
  background-color: #eee;
  color: inherit;
}

#page-footer .moodle-footer a:not(.btn) {
  color: red;
}

.moodle-footer {
  background-color: #f2f3f7 !important;
  border-top: 4px solid #0067a2 ;
  //color: red;
  padding-bottom: 1.0rem;
}


.site-footer {
  clear: both;
  *zoom: 1;
  width: 100%;
  display: block;
  position: relative;
  background: #eeeeee;
  border-top: 4px solid #ffa100;
  //padding-top: 48px;
  //margin-top: 40px;
}

#pie_final {
  clear: both;
  background: #565a5c;
  color: #fff;
  height: auto;
  text-align: center;
}

#pie_final p {
  font-family: "Rubik", sans-serif;
  padding: 12px 0;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
  line-height: 1rem;
  margin: 0;
}

#pie_info {
  padding: 12px 0px;
}

#pie_info .logo_pie {
  height: 100px !important;
  width: 270px;
  background: url("https://i.imgur.com/JnZBeIx.png") no-repeat !important;
}
#pie_info .logo_pie {
  background: url("https://www.ulpgc.es/sites/all/themes/ulpgc/images/ulpgc_graficos_v14.svg") -157px -1568px no-repeat;
  -webkit-background-size: auto auto;
  -webkit-background-size: 1400px;
  background-size: auto auto;
  background-size: 1400px;
  display: block;
  height: 80px;
  float: left;
}


#pie_info .columna_pie {
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#pie_info .columna_pie.primera {
    border-left: 1px solid;
}


#page-footer {
    .btn-footer-popover {
        bottom: 4.5rem;
    }
    
    .btn-footer-popover.help {
        bottom: 7.5rem;
    }   
}

/*---------------------------------------
 * rules: Course page.
 --------------------------------------*/
.activity-instance.d-flex {
  min-width: 25%;
}

.activity-basis .afterlink.d-flex {
  max-width: 10.0rem;
}

.activity-item.hiddenactivity span.badge-warning:before,
.hidden span.badge-warning:before {
        font-family: 'FontAwesome';
        color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 0.2rem;
  content: "\f070";
}

.section_availability.withrestrictions:before,
.activity-restrictions.course-description-item:before {
        font-family: 'FontAwesome';
        color: darkred;
        font-size: x-large;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f023";
        margin-left: 0.5rem;
}

.section_availability .availabilityinfo.isrestricted.isfullinfo,
.activity-restrictions .availabilityinfo.isrestricted.isfullinfo {
  display: none;
  text-align: left;
}


.activity-item .moove .activity-info {
  align-self: center;
  flex-direction: row-reverse;
}

.section_availability.withrestrictions,
.activity-restrictions.course-description-item,
.activity-item .activity-info .activity-information {
  text-align: right;
}

.activity-basis .course-description-item .description-inner {
  font-size: 80%;
  background-color: #f8f9fa;
  padding: 0 1.0rem;
  border-radius: 0.5rem;
}

.description .course-description-item:last-child {
  padding: 0.5rem 1.0rem;
}

.description .course-description-item:first-child {
  margin-top: 0.4rem;
}

.activity-basis .activity-dates.course-description-item .description-inner {
    margin-left: 1.0rem;
}

.automatic-completion-conditions .badge {
   padding: 0 1.0rem;
}

span.unread {
  padding: 0 0.5rem;
}

.activity-item:not(.activityinline) {
  padding: 0.3rem 1.5rem;
}

.breadcrumb .breadcrumb-item a.type20 {
  color: #f0ad4e; //to change afterwards XXX
  font-weight: bolder;
  font-size: larger;
}


.course-content .current::before {
  border-left: #f0ad4e 8px solid;
  left: -12px;
}

.course-section.current .badge-primary {
  color: #1d2125;
  background-color: #f0ad4e;
}

.section .activity {
  padding: 0.15rem 0;
}

.section .activity.indented .activity-item {
  border: 1px solid #dee2e6;
}

.changenumsections {
  text-align: center;
}

.activityiconcontainer {
  height: 42px;
}

.activity-item .bulkselect {
  left: -1.5rem;
  top: 1.0rem;
}

.course-section-header .bulkselect {
  left: -1.25rem;
}

.stickyfooter .form-check input[type=checkbox],
.bulkselect input[type=checkbox] {
  height: 18px;
  width: 18px;
}


/*---------------------------------------
 * rules: Course formats related.
 --------------------------------------*/

.format-onetopic .hastopictabs .nav-tabs .nav-link.active {
    background-color: #edf9ed;
    font-weight: bold;
}

/* Toggle icon size */
.format-topcoll #toggle-all .content .sectionbody h4 span.tc-small,
.format-topcoll .course-content ul.ctopics li.section .content .toggle span.tc-small {
    background-size: 12px 12px;
}

.format-topcoll #toggle-all .content .sectionbody h4 span.tc-medium,
.format-topcoll .course-content ul.ctopics li.section .content .toggle span.tc-medium {
    background-size: 18px 18px;
}

.format-topcoll #toggle-all .content .sectionbody h4 span.tc-large,
.format-topcoll .course-content ul.ctopics li.section .content .toggle span.tc-large {
    background-size: 24px 24px;
}

.format-topcoll .course-content ul.ctopics li.section.main .side,
.format-topcoll .course-content ul.ctopics li.tcsection .side,
.format-topcoll.editing .course-content ul.ctopics li.section.main .side,
.format-topcoll .editing .course-content ul.ctopics li.tcsection .side {
    width: 32px;
    text-align: right;
    padding: 6px 0 0 0;
}

.format-topcoll .course-content ul.ctopics li.section .right {
     margin-top: 0.3rem;
}


.format-topcoll .section_availability:not(:empty)::before {
    //margin-top: -2.7rem;
    //margin-left: -2.7rem;
}



/*---------------------------------------
 * Setting: Course related hints.
 --------------------------------------*/

.course-hint-hidden,
.course-hint-guestaccess,
.course-hint-selfenrol,
.course-hint-switchedrole {
    margin-left: 15px;
    margin-right: 15px;
}


/*---------------------------------------
 * Gradebook
 --------------------------------------*/
.path-grade-report-grader .gradeparent .cell {
  padding: 0.20rem 0.25rem;
  vertical-align: middle;
}


/*---------------------------------------
 * Blocks: icons.
 --------------------------------------*/
/// this need to be done conditionally, like in boost_campus, dependent on blockicon enabled

@if variable-exists(blockicon) {
    @if $blockicon == 'yes' {
      .block .card-title::before {
          font-family: FontAwesome;
          content: '\f009';
          font-size: 1.2rem;
          padding-right: 6px;
          margin-left: -6px;
          color: #ff9a00; /* ecastro ULPGC*/
      }
      /* Provide different, suitable Font Awesome icons for different Moodle blocks. */
      .block_recent_activity .card-title::before {
          content: '\f017';
      }
      .block_calendar_month .card-title::before,
      .block_calendar_upcoming .card-title::before {
          content: '\f133';
      }
      .block_people .card-title::before {
          content: '\f0c0';
      }
      .block_quickmail .card-title::before {
          content: '\f003';
      }
      .block_activity_module .card-title::before {
          content: '\f12e';
      }
      .block_news_items .card-title::before {
          content: '\f0a1';
      }
      .block_progress .card-title::before {
          content: '\f0ae';
      }
      .block_private_files .card-title::before {
          content: '\f114';
      }
      .block_comments .card-title::before {
          content: '\f075';
      }
      .block_completion_status .card-title::before {
          content: '\f0e4';
      }
      .block_search_forums .card-title::before {
          content: '\f0e6';
      }
      .block_admin_bookmarks .card-title::before {
          content: '\f097';
      }
      .block_adminblock .card-title::before {
          content: '\f0fe';
      }
      .block_attendance .card-title::before {
          content: '\f046';
      }
      .block_sharing_cart .card-title::before {
          content: '\f07a';
      }
      .block_glossary_random .card-title::before {
          content: '\f14b';
      }
      .block_selfcompletion .card-title::before {
          content: '\f14a';
      }
      .block_badges .card-title::before {
          content: '\f0a3';
      }
      .block_microsoft h5.card-title {
          font-size: 1.171875rem;
      }
    }
}

/*---------------------------------------
 * Activity modules: Forum.
 --------------------------------------*/

#page-mod-forum-view table .limit-width {
  min-width: 200px;
  max-width: 40%;
}

#page-mod-forum-view .discussion-list .text-truncate {
  white-space: pre-wrap;
}
