{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Help and documentation",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210"
        }
    }
}}

<footer id="page-footer">
    {{#ulpgcfooter}}
        {{! first a row with standard moode footer elements}}
        <div class="moodle-footer moove-container-fluid d-flex">
            {{{ output.login_info }}}

            {{{ output.standard_footer_html }}}

            <div class="footer-content-debugging rtext-light">
                <div class="moove-container-fluid ">
                    {{{ output.debug_footer_html }}}
                </div>
            </div>
        </div>

        {{! second a row with ULPGC footer blocks}}
        <div class="site-footer moove-container-fluid">
            {{> theme_moove/ulpgcfooterblocks}}
        </div>
    {{/ulpgcfooter}}
    {{^ulpgcfooter}}
        {{! this section is NOT used if ULPGC footer is active }}
        <div class="moove-container-fluid footer-columns">
            <div class="row">
                <div class="col-md-4 column-left">
                    <div class="contact">
                        <h3 class="footer-title">{{#str}}contactus, theme_moove{{/str}}</h3>

                        <ul>
                            {{#website}}
                                <li>
                                    <a href="{{{website}}}" target="_blank" class="website btn btn-link">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                </li>
                            {{/website}}
                            {{#mobile}}
                                <li>
                                    <a href="tel:{{{mobile}}}" target="_blank" class="mobile btn btn-link">
                                        <i class="fa fa-phone"></i>
                                    </a>
                                </li>
                            {{/mobile}}
                            {{#mail}}
                                <li>
                                    <a href="mailto:{{{mail}}}" target="_blank" class="mail btn btn-link">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </li>
                            {{/mail}}
                        </ul>
                    </div>

                    <div class="socialnetworks">
                        <h3 class="footer-title">{{#str}}followus, theme_moove{{/str}}</h3>

                        <ul class="mb-0">
                            {{#facebook}}
                                <li>
                                    <a href="{{{facebook}}}" target="_blank" class="facebook btn btn-link btn-rounded">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                            {{/facebook}}

                            {{#twitter}}
                                <li>
                                    <a href="{{{twitter}}}" target="_blank" class="twitter btn btn-link btn-rounded">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                            {{/twitter}}

                            {{#linkedin}}
                                <li>
                                    <a href="{{{linkedin}}}" target="_blank" class="linkedin btn btn-link btn-rounded">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            {{/linkedin}}

                            {{#youtube}}
                                <li>
                                    <a href="{{{youtube}}}" target="_blank" class="youtube btn btn-link btn-rounded">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                            {{/youtube}}

                            {{#instagram}}
                                <li>
                                    <a href="{{{instagram}}}" target="_blank" class="instagram btn btn-link btn-rounded">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            {{/instagram}}

                            {{#whatsapp}}
                                <li>
                                    <a href="https://api.whatsapp.com/send?phone={{{whatsapp}}}" target="_blank" class="whatsapp btn btn-link btn-rounded">
                                        <i class="fa fa-whatsapp"></i>
                                    </a>
                                </li>
                            {{/whatsapp}}

                            {{#telegram}}
                                <li>
                                    <a href="{{{telegram}}}" target="_blank" class="telegram btn btn-link btn-rounded">
                                        <i class="fa fa-telegram"></i>
                                    </a>
                                </li>
                            {{/telegram}}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 column-center">
                    {{# output.supportemail }}
                        <div class="supportemail">{{{ output.supportemail }}}</div>
                    {{/ output.supportemail }}

                    {{{ output.login_info }}}

                    {{{ output.standard_footer_html }}}

                    <div class="tool_usertours-resettourcontainer"></div>
                </div>
                <div class="col-md-4 column-right">
                    {{#enablemobilewebservice}}
                        {{#mobilesetuplink}}
                            <a href="{{{mobilesetuplink}}}">{{#str}}getmoodleonyourmobile, tool_mobile{{/str}}</a>
                        {{/mobilesetuplink}}
                        {{^mobilesetuplink}}
                            <h3 class="footer-title">{{#str}}getmoodleonyourmobile, tool_mobile{{/str}}</h3>
                        {{/mobilesetuplink}}
                        <div class="stores">
                            {{#androidappid}}
                                <a href="https://play.google.com/store/apps/details?id={{androidappid}}">
                                    <img src="{{config.wwwroot}}/theme/moove/pix/store_google.svg" alt="Play Store">
                                </a>
                            {{/androidappid}}
                            {{#iosappid}}
                                <a class="mt-1" href="https://apps.apple.com/app/id{{iosappid}}">
                                    <img src="{{config.wwwroot}}/theme/moove/pix/store_apple.svg" alt="App Store">
                                </a>
                            {{/iosappid}}
                        </div>
                    {{/enablemobilewebservice}}
                </div>
            </div>
        </div>
        <div class="footer-content-debugging footer-dark bg-dark text-light">
            <div class="moove-container-fluid footer-dark-inner">
                {{{ output.debug_footer_html }}}
            </div>
        </div>
    {{/ulpgcfooter}}

    <div data-region="footer-container-popover">
        <div id="page-footer-buttons"></div>
        <button class="btn btn-icon bg-secondary icon-no-margin btn-footer-popover help" data-action="footer-popover" aria-label="{{#str}}showfooter, theme_boost{{/str}}">
            {{#pix}}e/question, core{{/pix}}
        </button>
    </div>
    <div class="footer-content-popover container" data-region="footer-content-popover">
        {{# output.has_popover_links }}
            <div class="footer-section p-3 border-bottom">
                {{# output.page_doc_link }}
                    <div>{{{ output.page_doc_link }}}</div>
                {{/ output.page_doc_link }}

                {{# output.services_support_link }}
                    <div class="footer-support-link">{{{ output.services_support_link }}}</div>
                {{/ output.services_support_link }}

                {{# output.supportemail }}
                    <div class="footer-support-link">{{{ output.supportemail }}}</div>
                {{/ output.supportemail }}

                {{# imprintlinkpositionfooter }}
                    <div class="footer-support-link theme_boost_union_footer_imprintlink">
                        <a href="{{ imprintlink }}"><i class="icon fa fa-building-o fa-fw " aria-hidden="true"></i>{{ imprintpagetitle }}</a>
                    </div>
                {{/ imprintlinkpositionfooter }}
                {{# contactlinkpositionfooter }}
                    <div class="footer-support-link theme_boost_union_footer_contactlink">
                        <a href="{{ contactlink }}"><i class="icon fa fa-address-card fa-fw " aria-hidden="true"></i>{{ contactpagetitle }}</a>
                    </div>
                {{/ contactlinkpositionfooter }}
                {{# helplinkpositionfooter }}
                    <div class="footer-support-link theme_boost_union_footer_helplink">
                        <a href="{{ helplink }}"><i class="icon fa fa-question-circle-o fa-fw " aria-hidden="true"></i>{{ helppagetitle }}</a>
                    </div>
                {{/ helplinkpositionfooter }}
                {{# maintenancelinkpositionfooter }}
                    <div class="footer-support-link theme_boost_union_footer_maintenancelink">
                        <a href="{{ maintenancelink }}"><i class="icon fa fa-wrench fa-fw " aria-hidden="true"></i>{{ maintenancepagetitle }}</a>
                    </div>
                {{/ maintenancelinkpositionfooter }}
            </div>
        {{/ output.has_popover_links }}
        {{^ulpgcfooter}}
            <div class="footer-section p-3">
                <div>{{#str}}poweredbymoodle, core{{/str}}</div>
                {{#output.moodle_release}}
                    <div>
                        {{#str}}version, core{{/str}} {{{ output.moodle_release }}}
                    </div>
                {{/output.moodle_release}}
            </div>
        {{/ulpgcfooter}}
    </div>
    {{#ulpgcfooter}}
            <div id="pie_final">
                <p>{{#str}}copyrightnote, theme_moove{{/str}}</p>
            </div>
    {{/ulpgcfooter}}
    {{^ulpgcfooter}}
        <div class="copyright">
            <div class="madeby">
                <p>{{#str}}themedevelopedby, theme_moove{{/str}}</p>
                <a href="https://conecti.me">
                    <img src="{{config.wwwroot}}/theme/moove/pix/logo_conectime.svg" alt="Conecti.me" style="height: 40px;">
                </a>
            </div>
        </div>
    {{/ulpgcfooter}}

    </footer>

{{{ output.standard_end_of_body_html }}}

{{#js}}
    require(['theme_boost/footer-popover'], function(FooterPopover) {
        FooterPopover.init();
    });
{{/js}}
